<h1>All GAME's!</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Done</th>
            <th>Toolbar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id,game) in games">
            <td>{{game.name}}</td>
            <td>
                <div class="btn btn-default" ng-click="toggleCompleted(game)">
                    <span class="glyphicon" ng-class="game.completed ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                </div>
            </td>
            <td>
                <div class="btn btn-default" ng-click="show(game)">Show</div>
                <div class="btn btn-default" ng-click="edit(game)">Edit</div>
                <div class="btn btn-default" ng-click="remove(game)">Remove</div>
            </td>
        </tr>
    </tbody>
</table>